.checkout-container {
	width: 70%;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto 0;

	.checkout-header {
		width: 100%;
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid darkgrey;

		.header-block {
			text-transform: capitalize;
			width: 23%;

			&:last-child {
				width: 7%;
			}
		}
	}

	.checkout-empty {
		font-size: 22px;
		text-align: center;
		display: flex;
		padding: 20px 0;
		min-height: 50vh;
		flex-direction: row;
		align-items: center;
	}

	.total {
		margin-top: 30px;
		margin-left: auto;
		font-size: 36px;
	}
}
