.cart-dropdown-container {
	position: absolute;
	width: 240px;
	height: 340px;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	border: 1px solid black;
	background-color: white;
	top: 96px;
	right: 40px;
	z-index: 5;

	.empty-message {
		font-size: 18px;
		margin: 50px auto;
	}

	.cart-items {
		height: 240px;
		display: flex;
		flex-direction: column;
		overflow: scroll;
		margin-bottom: 5px;
		padding: 0 20px;

		.cart-empty {
			text-align: center;
			display: flex;
			padding: 20px 0;
			height: 100%;
			font-size: 20px;
			flex-direction: row;
			align-items: center;
		}
	}

	button {
		line-height: 25px;
		margin: 0 20px;
	}
}
